AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=""
AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_API_KEY=""
API_VERSION=""
AZURE_AI_MODEL_DEPLOYMENT_NAME=
AZURE_CLIENT_ID=""
AZURE_TENANT_ID=""
AZURE_CLIENT_SECRET=""



# Replace X's with 1/2/3/4/5
AZURE_AI_PROJECT_ENDPOINT=
# Input your own token
GITHUB_TOKEN=